extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imágen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit est sunt totam architecto, ipsam aspernatur. Officia, neque? Magnam, repellat minima saepe ad esse quia architecto alias cumque magni ipsam laudantium!Sit mollitia at eos delectus minus nihil neque molestias odit ducimus error est soluta libero sunt suscipit nesciunt beatae, officiis, labore fugiat! Id consectetur sint praesentium? Voluptas quod voluptatem 
            
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate facere non quasi ipsam voluptatibus pariatur! Perspiciatis, odit blanditiis reprehenderit labore in inventore vel facilis magnam eveniet maiores debitis unde cum!

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam vero.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam vero. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precio 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam vero.  